@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");

:root {
  --color-primary-red: hsl(0, 100%, 68%);
  --color-neutral-dark-blue: hsl(230, 29%, 20%);
  --color-neutral-light-grayish-blue: hsl(207, 33%, 95%);
  --color-neutral-grayish-blue: hsl(231, 7%, 65%);
  --color-neutral-dark-grayish-blue: hsl(230, 11%, 40%);
  --color-white: hsl(0, 0%, 100%);

  --font-family-body: "Barlow", sans-serif;
  --font-family-other: "Barlow Condensed", sans-serif;

  --font-weight-bold: 700;
  --font-weight-regular: 400;

  --font-size: 1.125rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-body);
  font-size: var(--font-size);
}

span {
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

.container-fluid {
  width: 100%;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 53%;
    background-color: var(--color-neutral-light-grayish-blue);
    border-bottom-left-radius: 4rem;
  }
}

.container {
  width: 82.5%;
  margin: 0 auto;

  @media (min-width: 40rem) {
    width: 81.1%;
    max-width: 640px;
  }

  @media (min-width: 48rem) {
    width: 79.7%;
    max-width: 768px;
  }

  @media (min-width: 64rem) {
    width: 78.3%;
    max-width: 1024px;
  }

  @media (min-width: 80rem) {
    width: 77%;
    max-width: 1280px;
  }

  @media (min-width: 96rem) {
    width: 75.6%;
    max-width: 1536px;
  }
}

main {
  margin-bottom: 6rem;
}

nav {
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 4rem;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (min-width: 48rem) {
    margin-top: 3rem;
  }
}

img {
  &.brand {
    width: 75%;

    @media (min-width: 48rem) {
      width: 85%;
    }
  }

  &.open {
    display: block;

    @media (min-width: 48rem) {
      display: none;
    }
  }

  &.close {
    display: none;
  }

  &.illustration {
    transform: translateX(-4.5%);
    width: 163%;

    @media (min-width: 64rem) {
      width: 215%;
      transform: translateX(-2.5%);
    }
  }
}

.nav__list {
  display: none;
  position: absolute;
  width: 100%;
  top: 4rem;
  left: 0;
  text-align: center;
  padding: 1.5rem;
  background-color: var(--color-white);
  box-shadow: 0px 1px 22px 0px var(--color-neutral-grayish-blue);
  border-radius: 3px;
  font-family: var(--font-family-other);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  z-index: 10;

  @media (min-width: 48rem) {
    display: flex;
    position: relative;
    top: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    z-index: 0;
  }

  li {
    letter-spacing: 1px;
    position: relative;

    @media (min-width: 48rem) {
      &:hover {
        cursor: pointer;

        &::after {
          position: absolute;
          content: "";
          left: 0;
          top: 110%;
          width: 100%;
          height: 2px;
          background-color: var(--color-neutral-dark-grayish-blue);
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;

      @media (min-width: 48rem) {
        margin-bottom: 0;
        margin-right: 2.5rem;
      }
    }

    &:last-child {
      padding-top: 1.5rem;
      color: var(--color-neutral-grayish-blue);

      @media (min-width: 48rem) {
        padding-top: 0;
        padding-left: 2.5rem;

        &:hover {
          &::after {
            background-color: var(--color-neutral-grayish-blue);
          }
        }
      }

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 1.5px;
        background-color: var(--color-neutral-light-grayish-blue);
        z-index: 20;

        @media (min-width: 48rem) {
          content: "";
          top: 50%;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: var(--color-neutral-grayish-blue);
        }
      }
    }
  }
}

input {
  display: none;

  &:checked {
    & + label {
      & img.open {
        display: none;
      }

      & img.close {
        display: block;
      }
    }

    & ~ .nav__list {
      display: block;
    }
  }
}

.lead {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-top: 5rem;
  margin-bottom: 1rem;

  @media (min-width: 64rem) {
    margin-top: 3rem;
  }
}

.pill {
  padding: 0.25rem 0.5rem;
  color: var(--color-white);
  background-color: var(--color-neutral-dark-blue);
  border-radius: 16px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-other);
}

.product {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--color-neutral-grayish-blue);
  letter-spacing: 4px;
  font-family: var(--font-family-other);
}

.heading {
  margin-bottom: 1rem;
  font-family: var(--font-family-other);
  text-transform: uppercase;
  color: var(--color-neutral-dark-blue);
  font-size: 2.4rem;
  line-height: 1;
  letter-spacing: 0.5px;

  @media (min-width: 64rem) {
    margin-bottom: 2.5rem;
    font-size: 4rem;
  }
}

.brief {
  margin-bottom: 1.75rem;
  color: var(--color-neutral-dark-grayish-blue);
  line-height: 1.5;
  letter-spacing: 0.5px;

  @media (min-width: 64rem) {
    width: 60%;
    margin-bottom: 4rem;
  }
}

.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: var(--color-neutral-grayish-blue);

  @media (min-width: 64rem) {
    justify-content: flex-start;
  }

  a {
    padding: 0.75rem 1rem;
    color: var(--color-white);
    background-color: var(--color-primary-red);
    border-radius: 4px;

    &:hover {
      background-color: hsla(0, 100%, 68%, 0.8);
    }

    @media (min-width: 64rem) {
      margin-right: 1.5rem;
    }
  }
}

@media (min-width: 48rem) {
  label {
    display: none;
  }
}

@media (min-width: 64rem) {
  main > div.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    column-gap: 6rem;

    figure {
      flex: 1;
    }

    .copy {
      flex: 1;
    }
  }
}

.attribution {
  display: none;
}
